


/* Feature Products Section */
.feature-products-section {
  background-color: #fff;
  overflow: hidden;
}

/* Feature Card */
.feature-card {
  background-color: #fff;
  border: 1px solid #e4e4e4;
  border-radius: 10px;
  transition: transform 0.3s ease;
  width: 100%;
  margin: 0 auto;
}



/* Image wrapper */
.feature-image-wrapper {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.feature-image-wrapper img {
  max-width: 100%;
  max-height: 180px;
  object-fit: contain;
}

/* Arrows */
.slick-prev,
.slick-next {
  z-index: 10;
  width: 40px;
  height: 40px;
  background: #00000090;
  border-radius: 50%;
  transition: background 0.3s ease;

}

.slick-prev:hover,
.slick-next:hover {
  background: #000;
}

.slick-prev:before,
.slick-next:before {
  font-size: 16px;
  color: white;
}

/* Responsive Adjustments */
@media (max-width: 992px) {
  .feature-image-wrapper {
    height: 160px;
  }
}

@media (max-width: 576px) {
  .feature-image-wrapper {
    height: 140px;
  }
  .slick-prev,
  .slick-next {
    display: none !important;
  }
}

/* View All Button */
.view-all-btn {
  font-weight: 600;
  border-radius: 8px;
}