body {
  margin: 0;
  font-family:  "Europa Regular", sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:  "Europa Regular", sans-serif;;
}
h1, h2, h3, h4, h5, h6, strong, .fw-bold {
  font-family: "Europa Bold", sans-serif;
}

@font-face {
  font-family: "Europa Regular";
  src: url("./assets/fonts/EuropaRegular.otf") format("truetype");
}

@font-face {
  font-family: "Europa Bold";
  src: url("./assets/fonts/EuropaLight.otf") format("truetype");
}

body {
  margin: 0;
  font-family: 'Europa Regular', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
